@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .animation-delay-2000 {
    animation-delay: 2000ms;
  }
  .word-spacing-wide {
    word-spacing: .125em;
  }
  .clip-shape {
    clip-path: url(#shape);
  }
  .text-shadow {
    text-shadow: 0 0px 1px rgba(0,0,0, .75);
  }
}

@layer components {
  .container {
    @apply max-w-[75rem] px-8 mx-auto;
  }
  .container-wide {
    @apply max-w-[100rem] px-2 md:px-8 mx-auto;
  }
  .grid-cols-repeat {
    --min: 15rem;
  }
  @media (min-width: 768px) {
    .grid-cols-repeat {
      --min: 19rem;
    }
  }
  @media (min-width: 1300px) {
    .grid-cols-repeat {
      --min: 22rem;
    }
  }
  .btn {
    @apply bg-pink-600 text-white font-bold px-6 py-2 tracking-wide rounded-full   flex items-center content-center hover:bg-pink-700;
  }
  .sleeve {
    @apply relative after:content-[''] after:absolute after:w-full after:h-full after:top-0 after:left-0
  }
  .prose a {
    @apply decoration-pink-600 decoration-1 underline-offset-2 hover:decoration-pink-400
  }
  .quote {
    @apply block relative py-12;
    line-height: 1.5;
  }
  .quote:before {
    content:'“';
    display: block;
    position: absolute;
    top: .5rem;
    left: -3rem;
    font-size: 14rem;
    color: inherit;
    opacity: .3;
    font-weight: 400;
    line-height: 1;
  }
  .form-item-wrapper {
    @apply block mb-4
  }
  .form-item-wrapper > span {
    @apply sr-only;
  }
  .form-input {
    @apply block w-full;
  }
}

:root {
  color-scheme: light;
  @apply bg-slate-800;
}

html {
  @apply min-w-[350px];
}

body {
  @apply font-body text-body font-light leading-loose;
  word-break: break-word;
  font-display: swap;
}

main {
  @apply relative z-[10];
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

p:not(:last-child) {
  @apply mb-4;
}

h1, h2, h3, h4, h5, h6 {
  @apply font-heading font-bold leading-none mb-4;
  /*font-display:swap;*/
}

h1 { @apply text-3xl }
h2 { @apply text-2xl }
h3 { @apply text-xl }
h4 { @apply text-lg }

ul, ol {
  @apply p-0 m-0 list-none;
}

/*
    Navbar
*/
.nav li a:hover span {
  transform: translate3d(0, -12px, 0);
  @apply opacity-0;
}

/*
    Carousel
*/
.carousel-root {
  @apply flex -sm:flex-col -md:mb-8 gap-2
}
.carousel {
  @apply w-auto
}
.carousel .thumbs-wrapper {
  @apply m-0
}
.carousel .thumbs {
  @apply flex sm:flex-col w-min gap-2 sm:!transform-none;
}
.carousel .thumb,
.carousel .thumb.selected,
.carousel .thumb:hover {
  @apply p-0 border-1 mr-0 border-slate-300 opacity-75 transition-opacity;
}
.carousel .thumb.selected {
  @apply border-slate-800;
}
.carousel .thumb:hover {
  @apply opacity-100
}
.carousel .thumb:only-child,
.carousel .dot:only-child,
.carousel .control-arrow:before {
  @apply hidden
}
.carousel .slide {
  @apply flex justify-center border-1 border-slate-300 bg-slate-600
}
.carousel.carousel-slider .control-arrow {
  @apply w-1/2 opacity-100 text-left;
  font-size: 5rem;
  background: none;
  text-shadow: 0px 0px 5px rgba(0,0,0,0.5);
}
.carousel.carousel-slider .control-arrow:hover {
  background: none;
  text-shadow: 0px 0px 10px rgba(0,0,0,0.8);
}
.carousel.carousel-slider .control-arrow:before {
  content: '❮';
  border: none
}
.carousel .control-next.control-arrow {
  @apply text-right
}
.carousel .control-next.control-arrow:before {
  content: '❯';
}


/*.contact-form {*/
/*  @apply font-mono max-w-2xl;*/
/*  display: flex;*/
/*  width: 100%;*/
/*  flex-flow: row wrap;*/
/*  gap: 2rem;*/
/*  justify-content: space-between;*/
/*}*/
/*.contact-form label {*/
/*  margin-bottom: 1rem;*/
/*  display: flex;*/
/*  align-items: baseline;*/
/*  border-bottom-width: 2px;*/
/*  min-width: 14rem;*/
/*}*/
/*.contact-form .label {*/
/*  display: block;*/
/*}*/
/*.contact-form label input,*/
/*.contact-form label textarea {*/
/*  border-width: 0;*/
/*  width: 100%;*/

/*}*/

/*
    Icon Spin
*/
.icon-spin {
  animation: icon-spin 2s infinite linear;
}

@-webkit-keyframes icon-spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(359deg);
  }
}

@keyframes icon-spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(359deg);
  }
}
